.popup {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 10%;
    height: 30%; */
}
.popupBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  background: #ffffff;

}
.textArea {
    margin-left: 60px;
}