

.inputContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 161px;
  height: 33px;
  box-shadow: 0px 4px 10px 0px;
  border: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-radius: 4px;
  z-index: 2;
  background-color:   rgb(244, 244, 244);
}

.inputCanvas {
  border: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-left: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 110px;
  height: 25px;
  background-color: rgb(253, 254, 255);
  z-index: 2;
}
.operatorInputCanvas {
  border: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  width: 8px;
  height: 25px;
  background-color:  rgb(253, 254, 255);
  z-index: 2;
  margin-top: 3px;
  margin-bottom: 3px;
}
.inputDeleteButton {
  margin-right: 2px;
  border-width: 1px;
  border-bottom: none;
  border-top: none;
  border-right: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  width: 30px;
  height: 27px;
  background-color:  rgb(253, 254, 255);
  z-index: 2;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 2px;
  
}
.rightInputCanvas {
  border: none;
  border-radius: 5px;
  z-index: 2;
  margin: 0px;
  width: 17px;
  height: 25px;
  background-color: rgb(221, 52, 52);
}
.upperButtonsContainer {
  margin: 5px;
  width: 161px;
  height: 33px; 
  box-shadow: 0px 4px 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  z-index: 2;
  background-color:  rgb(244, 244, 244);
}
.MidlebuttonsContainer {
  margin: 5px;
  width: 161px;
  height: 140px;
  box-shadow: 0px 4px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border: none;
  border-radius: 4px;
  z-index: 2;
  background-color:  rgb(244, 244, 244);
}
.midButtons {
  width: 49.4px;
  height: 31px;
  border-radius: 4px;
  background-color: rgb(253, 254, 255);
  border-width: 1px;
  border-color: darkgray;
  margin: 2px;
  z-index: 2;
}
.zerroButton {
  width: 103px;
  height: 31px;
  border-radius: 4px;
  background-color: rgb(253, 254, 255);
  border-width: 1px;
  border-color: darkgray;
  margin: 2px;
  z-index: 2;
}
.upperButtons {
  width: 36px;
  height: 29px;
  border-radius: 4px;
  background-color: rgb(253, 254, 255);
  border-width: 1px;
  border-color: darkgray;
  margin: 2px;
  margin-left: 2px;
}
.equalButtonContainer {
  
  margin: 5px;
  width: 162px;
  height: 33px;
  box-shadow: 0px 4px 10px 0px;
  border: none;
  border-radius: 4px;
  z-index: 2;
  background-color:  rgb(244, 244, 244);

}
.equalButton {
  background-color: rgb(81, 81, 255);
  border: none;
  border-radius: 5px;
  width: 157px;
  height: 29px;
  z-index: 2;
  margin: 2.4px;
}
.DoneBlock {
  background-color: rgb(81, 81, 255);
}
